* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 10%;
  font-size: 1rem;
}
.container {
  padding: 50px;
  background-image: linear-gradient(to right, red, yellow);
}
header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  margin: 0px;
}
div {
  margin: 20px 0px;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
.info {
  text-align: center;
}
.grid_tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
}
.grid {
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin: 0px;
}

.refrees {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  flex-wrap: wrap;
}
.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mom {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  margin: 0px;
}
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}
